<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="TechyDevs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dirto - Directory & Listing HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" href="/user/v1/template/qwer/assert/images/favicon.png" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700&display=swap"
      rel="stylesheet"/>
   
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/select2.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/jquery.fancybox.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/daterangepicker.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/style.css" />
  </head>
  <body>
    <!-- start per-loader -->
    <div class="loader-container">
      <div class="loader-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- end per-loader -->
    <header class="header-area border-bottom border-bottom-gray">
      <div class="main-header py-3">
        <div class="container">
          <div class="main-header-action-wrap">
            <div class="logo">
              <a href="0_index.html"><img src="/user/v1/template/qwer/assert/images/logo.png" alt="logo" /></a>
            </div>
            <!-- end logo -->
            <nav class="main-menu me-4 ms-auto">
              <ul>
                <li>
                  <a href="0_index.html">Home</a>
                </li>
                <li>
                  <a href="#"
                    >Categories <span class="fal fa-angle-down"></span
                  ></a>
                  <ul class="dropdown-menu-item">
                    <li><a href="all-categories.html">all categories</a></li>
                    <li><a href="all-locations.html">all locations</a></li>
                    <li><a href="top-place.html">top places </a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"
                    >Listings <span class="fal fa-angle-down"></span
                  ></a>
                  <ul class="dropdown-menu-item">
                    <li><a href="list-with-map.html">list with map</a></li>
                    <li><a href="listing-list.html">listing list </a></li>
                    <li><a href="0_list-left-sidebar.html">left sidebar </a></li>
                    <li><a href="0_listing-details.html">listing details</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pages <span class="fal fa-angle-down"></span></a>
                  <ul class="dropdown-menu-item">
                    <li><a href="0_user-profile.html">user profile</a></li>
                    <li><a href="top-author.html">top authors </a></li>
                    <li><a href="dashboard.html">dashboard</a></li>
                    <li><a href="0_booking.html">booking </a></li>
                    <li>
                      <a href="booking-confirmation.html"
                        >booking confirmation
                      </a>
                    </li>
                    <li><a href="pricing.html">pricing</a></li>
                    <li><a href="faq.html">faq</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="recover.html">recover pass</a></li>
                  </ul>
                </li>
                <li>
                  <a href="blog-right-sidebar.html"></a>
                </li>
              </ul>
            </nav>
            <div class="nav-right-content d-flex align-items-center">
              <div class="author-access-list me-3">
                <a href="/usr/v1/infra/user/userlogin">Login</a>
                <span class="or-text">&nbsp;&nbsp;</span>
                <a href="0_sign-up.html">Sign Up</a>
              </div>
              <!-- end side-menu-open -->
            </div>
            <!-- end nav-right-content -->
          </div>
          <!-- end main-header-action-wrap -->
        </div>
        <!-- end container-fluid -->
      </div>
      <!-- end main-header -->
      <div class="off-canvas">
        <div
          class="off-canvas-close icon-element icon-element-sm bg-white shadow-sm"
        >
          <i class="fal fa-times"></i>
        </div>
        <!-- end off-canvas-close -->
        <ul class="off-canvas-menu padding-top-60px">
          <li>
            <a href="0_index.html">Home</a>
          </li>
          <li>
            <a href="#"
              >Categories
              <span class="fal fa-angle-down sub-menu-toggler"></span
            ></a>
            <ul class="off-canvas-sub-menu">
              <li><a href="all-categories.html">All categories</a></li>
              <li><a href="all-locations.html">All locations</a></li>
              <li><a href="top-place.html">Top places </a></li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Listings <span class="fal fa-angle-down sub-menu-toggler"></span
            ></a>
            <ul class="off-canvas-sub-menu">
              <li><a href="list-with-map.html">list with map</a></li>
              <li><a href="listing-list.html">Listing list </a></li>
              <li><a href="0_list-left-sidebar.html">Left sidebar </a></li>
              <li><a href="0_listing-details.html">Listing details</a></li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Pages <span class="fal fa-angle-down sub-menu-toggler"></span
            ></a>
            <ul class="off-canvas-sub-menu">
              <li><a href="0_user-profile.html">user profile</a></li>
              <li><a href="top-author.html">top authors </a></li>
              <li><a href="dashboard.html">dashboard</a></li>
              <li><a href="0_booking.html">booking </a></li>
              <li>
                <a href="booking-confirmation.html">booking confirmation </a>
              </li>
              <li><a href="pricing.html">pricing</a></li>
              <li><a href="faq.html">faq</a></li>
              <li><a href="contact.html">contact</a></li>
              <li><a href="recover.html">recover pass</a></li>
            </ul>
          </li>
          <li>
            <a href="blog-right-sidebar.html"></a>
          </li>
        </ul>
        <div class="mt-4 text-center">
          <a href="0_login.html" class="theme-btn me-2">Login</a>
          <a href="0_sign-up.html" class="theme-btn">Sign up</a>
        </div>
      </div>
      <!-- end off-canvas -->
    </header>
    <section class="breadcrumb-area1 bread-bg">
      <div class="overlay opacity-8"></div>
      <!-- end overlay -->
      <div class="container">
		<form name="form" id="form" method="post" autocomplete="off" enctype="multipart/form-data">
          <h2 class="sec__title text-white mb-2"><a id="iName" th:text="${item?.iName}" ></a></h2>
          <p class="sec__desc text-white" id="iAdress" th:text="${item?.iAdress}">
          <i class="fal fa-map-marker-alt me-1"></i> 
          </p>
          <ul class="listing-info my-3">
            <li>
              <div class="theme-btn theme-btn-sm average-ratings bg-success">
                4.5 <i class="fas fa-star ms-1 font-size-12"></i>
              </div>
              <span class="text-white">36 Reviews</span>
            </li>
          </ul>
          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="bread-btns my-1">
              <a href="#" class="theme-btn theme-btn-sm me-1"><i class="far fa-bookmark me-1 font-size-13"></i> 저장</a>
              <a href="#"
                class="theme-btn theme-btn-sm me-1"
                data-bs-toggle="modal"
                data-bs-target="#shareModal"
                ><i class="far fa-external-link me-1 font-size-13"></i> 공유</a
              >
            </div>
            <div class="bread-btns my-1">
              <a
                href="#review"
                class="theme-btn theme-btn-sm bg-white text-black me-1"
                ><i class="far fa-star me-1 font-size-13"></i> 리뷰쓰기</a>
            </div>
        </div>
        <!-- end breadcrumb-content -->
		</form>
      </div>
    </section>
    <!-- end breadcrumb-area -->
    <section class="card-area padding-top-60px padding-bottom-90px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-4">
            <div class="listing-wrapper">
              <!-- end listing-single-panel -->
              <div class="listing-single-panel mb-5">
                <h4 class="font-size-20 font-weight-semi-bold mb-3">Photos</h4>
                <div class="gallery-carousel owl-carousel owl-theme">
                  <div class="gallery-item">
                    <img src="/user/v1/template/qwer/assert/images/img17.jpg" alt="gallery-image" />
                  </div>
                  <div class="gallery-item">
                    <img src="/user/v1/template/qwer/assert/images/img18.jpg" alt="gallery-image" />
                  </div>
                  <div class="gallery-item">
                    <img src="/user/v1/template/qwer/assert/images/img19.jpg" alt="gallery-image" />
                  </div>
                  <div class="gallery-item">
                    <img src="/user/v1/template/qwer/assert/images/img20.jpg" alt="gallery-image" />
                  </div>
                </div>
              </div>
              <!-- end listing-single-panel -->
              <div class="listing-single-panel mb-5">
                <div class="row">
                  <div class="col-lg-4">
                    <ul class="list-items">
                      <li>
                        <i class="fal fa-check-circle me-1 text-success"></i>
                        주차가능
                      </li>
                      <li>
                        <i class="fal fa-check-circle me-1 text-success"></i>
                        기구 필라테스
                      </li>
                    </ul>
                  </div>
                  <!-- end col-lg-4 -->
                  <div class="col-lg-4">
                    <ul class="list-items">
                      <li>
                        <i class="fal fa-check-circle me-1 text-success"></i>
                        주말운영
                      </li>
                      <li>
                        <i class="fal fa-check-circle me-1 text-success"></i>
                        그룹레슨
                      </li>
                    </ul>
                  </div>
                  <!-- end col-lg-4 -->
                  <div class="col-lg-4">
                    <ul class="list-items">
                      <li>
                        <i class="fal fa-check-circle me-1 text-success"></i>
                        공휴일운영
                      </li>
                      <li>
                        <i class="fal fa-check-circle me-1 text-success"></i>
                        1:1 개인 레슨
                      </li>
                    </ul>
                  </div>
                  <!-- end col-lg-4 -->
                </div>
                <!-- end row -->
              </div>
              <!-- end listing-single-panel -->
              <div class="listing-single-panel mb-5">
                <h4 class="font-size-20 font-weight-semi-bold mb-3">찾아오시는 길</h4>
                <div
                  id="map-single"
                  data-latitude="40.728157"
                  data-longitude="-74.077644"
                  class="w-100 height-300"
                ></div>
                <ul class="list-items mt-4">
                  <li>
                    <span class="fal fa-map-marker-alt icon-element icon-element-sm bg-white shadow-sm text-black me-2 font-size-14"></span><a href="#" id="iAdress" th:text="${item?.iAdress}"></a>
                  </li>
                  <li>
                    <span
                      class="fal fa-envelope icon-element icon-element-sm bg-white shadow-sm text-black me-2 font-size-14"
                    ></span
                    ><a href="mailto:example@gmail.com">example@gmail.com</a>
                  </li>
                  <li>
                    <span class="fal fa-phone icon-element icon-element-sm bg-white shadow-sm text-black me-2 font-size-14"></span><a href="#" id="iTel" th:text="${item?.iTel}"></a>
                  </li>
                  <li>
                    <span class="fal fa-external-link icon-element icon-element-sm bg-white shadow-sm text-black me-2 font-size-14"></span><a href="#" id="iEadress" th:text="${item?.iEadress}"></a>
                  </li>
                </ul>
              </div>
              <!-- end listing-single-panel -->
              <div class="listing-single-panel mb-5">
				<form name="form" method="post" action="/usr/v1/infra/user/usersideDetail">
                <div class="reviews" >
                  <h4 class="font-size-20 font-weight-semi-bold mb-4">
                    후기 <span class="badge badge-light">(5)</span>
                  </h4>
                  <div class="comments-wrapper" th:each="relist:${relist}">
                    <div class="comment media mb-5">
                      <a
                        href="user-profile.html"
                        class="user-avatar flex-shrink-0 d-block me-3"
                      >
                        <img src="/user/v1/template/qwer/assert/images/small-team1.jpg" alt="author-img" />
                      </a>
                      <div class="comment-body media-body">
                        <div
                          class="d-flex align-items-center justify-content-between"
                        >
                          <div class="pe-2">
                            <h4 class="comment-title">
                              <a href="user-profile.html">Adam Smith</a>
                            </h4>
                          </div>
                          <div class="star-rating" data-rating="4"></div>
                        </div>
                        <p class="comment-desc mt-2" id="reDesc" name="reDesc" th:text="${relist.reDesc}">
                          It is a long established 
                        </p>
                        <div class="review-photos d-flex flex-wrap align-items-center mt-3">
                          <a
                            href="/user/v1/template/qwer/assert/images/img1.jpg"
                            class="d-inline-block"
                            data-fancybox="review-gallery"
                          >
                            <img
                              class="lazy"
                              src="/user/v1/template/qwer/assert/images/img-loading.jpg"
                              data-src="/user/v1/template/qwer/assert/images/img1.jpg"
                              alt="review image"
                            />
                          </a>
                        </div>
                        <!-- end review-photos -->
                        <div class="comment-actions d-flex align-items-center justify-content-between mt-3" >
                          <div class="feedback-box">
                            <button type="button" class="theme-btn theme-btn-sm">
                              <i class="fal fa-thumbs-up me-1"></i> Helpful
                            </button>
                          </div>
                        </div>
                        <!-- end comment-actions -->
                      </div>
                      <!-- end comment-body -->
                    </div>
                    <!-- end comment -->
                  </div>
                  <!-- end comments-wrapper -->
                  <hr class="border-top-gray mt-0" />
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center pagination-list">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true" class="fal fa-angle-left"></span>
                          <span class="sr-only">이전</span>
                        </a>
                      </li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true" class="fal fa-angle-right"></span>
                          <span class="sr-only">다음</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
				</form>
                <!-- end reviews -->
              </div>
			  <!-- end listing-single-panel -->
	            <div class="listing-single-panel">
	              <h4 class="font-size-20 font-weight-semi-bold mb-1">리뷰쓰기</h4>
	              <p class="font-size-15"></p>
	              <hr class="border-top-gray my-4" />
	              <div class="rating" id="review">
	                <form class="leave-rating">
	                  <input type="radio" name="rating" id="rating-1" value="1" />
	                  <label for="rating-1" class="fas fa-star"></label>
	                  <input type="radio" name="rating" id="rating-2" value="2" />
	                  <label for="rating-2" class="fas fa-star"></label>
	                  <input type="radio" name="rating" id="rating-3" value="3" />
	                  <label for="rating-3" class="fas fa-star"></label>
	                  <input type="radio" name="rating" id="rating-4" value="4" />
	                  <label for="rating-4" class="fas fa-star"></label>
	                  <input type="radio" name="rating" id="rating-5" value="5" />
	                  <label for="rating-5" class="fas fa-star"></label>
	                </form>
	                <form method="post" name="form" action="/usr/v1/infra/user/userXdmInst" class="row mt-4">
	                  <!-- end col-lg-6 -->
	                  <div class="col-lg-12">
	                    <label class="label-text">리뷰</label>
	                    <div class="form-group">
	                      <textarea
	                        class="form-control form--control ps-3"
	                        rows="5"
	                        name="reDesc"
							id="reDesc"
	                        placeholder="Tell about your experience or leave a tip for others"
	                      ></textarea>
	                    </div>
	                  </div>
	                  <!-- end col-lg-12 -->
	                  <div class="col-lg-12">
	                    <button class="theme-btn border-0" type="submit" action="/usr/v1/infra/user/userXdmInst">
	                      작성
	                    </button>
	                  </div>
	                  <!-- end col-lg-12 -->
	                </form>
	              </div>
	              <!-- end add-review-wrap -->
	            </div>
            </div>
            <!-- end listing-wrapper -->
          </div>
          <!-- end col-lg-8 -->
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="card">
                <div class="card-body">
                  <div class="form-group select2-container-wrapper">
                  </div>
                  <a href="/usr/v1/infra/user/userPrice" class="theme-btn w-100">이용권 구매</a>
                </div>
                <!-- end card-body -->
              </div>
              <!-- end card -->
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-3">태그</h4>
                  <ul class="tag-list">
                    <li><a href="#">필라테스</a></li>
                    <li><a href="#">요가</a></li>
                    <li><a href="#">플라잉요가</a></li>
                    <li><a href="#">헬스</a></li>
                    <li><a href="#">클라이밍</a></li>
                  </ul>
                </div>
                <!-- end card-body -->
              </div>
              <!-- end card -->
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-3">대표</h4>
                  <div class="media mt-4">
                    <img
                      src="/user/v1/template/qwer/assert/images/small-team1.jpg"
                      alt="avatar"
                      class="user-avatar flex-shrink-0 me-3"
                    />
                    <div class="media-body align-self-center">
                      <h4 class="font-size-18 font-weight-semi-bold mb-1">
                        <a href="0_user-profile.html" class="btn-link text-black" id="iCeoName" th:text="${item?.iCeoName}"></a>
                      </h4>
                      <p class="font-size-14">20 listing hosted</p>
                    </div>
                  </div>
                  <ul class="list-items mt-4">
                    <li>
                      <span
                        class="fal fa-envelope icon-element icon-element-sm bg-white shadow-sm text-black me-2 font-size-14"
                      ></span
                      ><a href="mailto:example@gmail.com">example@gmail.com</a>
                    </li>
                    <li>
                      <span class="fal fa-phone icon-element icon-element-sm bg-white shadow-sm text-black me-2 font-size-14"></span><a href="#" id="iTel" th:text="${item?.iTel}"></a>
                    </li>
                    <li>
                      <span class="fal fa-external-link icon-element icon-element-sm bg-white shadow-sm text-black me-2 font-size-14"></span><a href="#" id="iEadress" th:text="${item?.iEadress}"></a>
                    </li>
                  </ul>
                </div>
                <!-- end card-body -->
              </div>
              <!-- end card -->
            </div>
            <!-- end sidebar -->
          </div>
          <!-- end col-lg-4 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <section class="footer-area bg-gray padding-top-130px pattern-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6" style="width: 100px;"></div>
          <div class="col-lg-3 col-md-6" >
            <div class="footer-item">
              <a href="0_index.html" class="footer-logo mb-4 d-inline-block"
                ><img src="/user/v1/template/qwer/assert/images/logo2.png" alt="logo"
              /></a>
              <ul class="info-list">
                <li>
                  <span class="fal fa-home icon me-2"></span> 서울 강남구 태해란로 
                </li>
                <li>
                  <span class="fal fa-headphones icon me-2"></span>
                  <a href="#">02-382-4335</a>
                </li>
                <li>
                  <span class="fal fa-envelope icon me-2"></span>
                  <a href="#">dirto@gmail.com</a>
                </li>
                <li>
                  <span class="fal fa"></span>
                  <a href="#"></a>
                </li>
              </ul>
              <p></p>
              <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
            <!-- end footer-item -->
          </div>
          <!-- end col-lg-3 -->
           <div class="col-lg-3 col-md-6" style="width: 120px;" > 
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 col-md-6">
            <div class="footer-item">
              <h4 class="footer__title mb-3">모든 카테고리</h4>
              <div class="stroke-shape mb-4"></div>
              <ul class="list-items list-items-underline">
                <li><a href="#">필라테스</a></li>
                <li><a href="#">요가</a></li>
                <li><a href="#">헬스</a></li>
                <li><a href="#">플라잉요가</a></li>
                <li><a href="#">클라이밍</a></li>
              </ul>
            </div>
            <!-- end footer-item -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 col-md-6">
            <div class="footer-item">
              <h4 class="footer__title mb-3">바로가기</h4>
              <div class="stroke-shape mb-4"></div>
              <ul class="list-items list-items-underline">
                <li><a href="0_sign-up.html">가입하기</a></li>
                <li><a href="/usr/v1/infra/user/userlogin">로그인</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
            <!-- end footer-item -->
          </div>
          <!-- end col-lg-3 -->
        </div>
        <!-- end row -->
        <hr class="border-top-gray" />
        <div class="copy-right d-flex flex-wrap align-items-center justify-content-between pb-4">
          <p class="copy__desc py-2">
            &copy; Copyright Dirto <span id="copyright-year"></span>. Made with
            <span class="fas fa-heart bounce-anim"></span> by
            <a href="https://techydevs.com">TechyDevs</a>
          </p>
        </div>
        <!-- end copy-right -->
      </div>
      <!-- end container -->
    </section>
    <!-- end footer-area -->
    <div id="back-to-top">
      <i class="fal fa-angle-up" title="Go top"></i>
    </div>
    <!-- end back-to-top -->
    <div
      class="modal fade modal-container"
      id="shareModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="shareModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header align-items-center">
            <h5 class="modal-title" id="shareModalTitle">공유하기</h5>
            <button
              type="button"
              class="btn-close close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" class="fal fa-times"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="d-flex align-items-center mb-3">
              <button
                class="theme-btn flex-grow-1 mx-1 bg-primary"
                type="button"
              >
                <i class="fab fa-facebook-f me-2"></i>Facebook으로 공유
              </button>
              <button
                class="theme-btn flex-grow-1 mx-1 bg-success"
                type="button"
              >
                <i class="fab fa-twitter me-2"></i>Twitter로 공유
              </button>
            </div>
            <div class="d-flex align-items-center mb-3">
              <button
                class="theme-btn flex-grow-1 mx-1 bg-primary"
                type="button"
              >
                <i class="fab fa-facebook-f me-2"></i> Share on Facebook
              </button>
              <button
                class="theme-btn flex-grow-1 mx-1 bg-primary"
                type="button"
              >
                <i class="fab fa-instagram me-2"></i>Instagram으로 공유
              </button>
            </div>
            <div class="copy-to-clipboard mb-3 mx-1">
              <span class="text-success-message">링크복사</span>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form--control copy-input ps-3"
                  value="https://www.dirto.com/share/101WxMB0oac1hVQQ==/"
                />
                <div class="input-group-append">
                  <a href="javascript:void(0)" class="theme-btn copy-btn"
                    >Copy</a
                  >
                </div>
              </div>
            </div>
            <!-- end copy-to-clipboard -->
            <div class="d-flex align-items-center mb-3">
              <hr class="border-top-gray flex-grow-1" />
              <span class="bg-white text-uppercase mx-2 font-size-14">or</span>
              <hr class="border-top-gray flex-grow-1" />
            </div>
            <form method="post">
              <div class="form-group">
                <span class="fal fa-user form-icon"></span>
                <input
                  type="text"
                  class="form-control form--control"
                  placeholder="Your name"
                />
              </div>
              <div class="form-group">
                <span class="fal fa-envelope form-icon"></span>
                <input
                  type="email"
                  class="form-control form--control"
                  placeholder="Your email"
                />
              </div>
              <div class="form-group">
                <span class="fal fa-envelope form-icon"></span>
                <input
                  type="email"
                  class="form-control form--control"
                  placeholder="To: Email address"
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control form--control ps-3"
                  rows="2"
                  name="message"
                  placeholder="Add a note (optional)"
                ></textarea>
              </div>
              <button type="submit" class="theme-btn w-100">
                공유하기 <i class="fal fa-long-arrow-right ms-2"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Template JS Files -->
	<script>
		const rateWrap = document.querySelectorAll('.rating'),
		    label = document.querySelectorAll('.rating .rating__label'),
		    input = document.querySelectorAll('.rating .rating__input'),
		    labelLength = label.length,
		    opacityHover = '0.5';

		let stars = document.querySelectorAll('.rating .star-icon');

		checkedRate();


		rateWrap.forEach(wrap => {
		    wrap.addEventListener('mouseenter', () => {
		        stars = wrap.querySelectorAll('.star-icon');

		        stars.forEach((starIcon, idx) => {
		            starIcon.addEventListener('mouseenter', () => {
		                if (wrap.classList.contains('readonly') == false) {
		                    initStars(); // 기선택된 별점 무시하고 초기화
		                    filledRate(idx, labelLength);  // hover target만큼 별점 active

		                    // hover 시 active된 별점의 opacity 조정
		                    for (let i = 0; i < stars.length; i++) {
		                        if (stars[i].classList.contains('filled')) {
		                            stars[i].style.opacity = opacityHover;
		                        }
		                    }
		                }
		            });

		            starIcon.addEventListener('mouseleave', () => {
		                if (wrap.classList.contains('readonly') == false) {
		                    starIcon.style.opacity = '1';
		                    checkedRate(); // 체크된 라디오 버튼 만큼 별점 active
		                }
		            });

		            // rate wrap을 벗어날 때 active된 별점의 opacity = 1
		            wrap.addEventListener('mouseleave', () => {
		                if (wrap.classList.contains('readonly') == false) {
		                    starIcon.style.opacity = '1';
		                }
		            });

		            // readonnly 일 때 비활성화
		            wrap.addEventListener('click', (e) => {
		                if (wrap.classList.contains('readonly')) {
		                    e.preventDefault();
		                }
		            });
		        });
		    });
		});

		// target보다 인덱스가 낮은 .star-icon에 .filled 추가 (별점 구현)
		function filledRate(index, length) {
		    if (index <= length) {
		        for (let i = 0; i <= index; i++) {
		            stars[i].classList.add('filled');
		        }
		    }
		}

		// 선택된 라디오버튼 이하 인덱스는 별점 active
		function checkedRate() {
		    let checkedRadio = document.querySelectorAll('.rating input[type="radio"]:checked');


		    initStars();
		    checkedRadio.forEach(radio => {
		        let previousSiblings = prevAll(radio);

		        for (let i = 0; i < previousSiblings.length; i++) {
		            previousSiblings[i].querySelector('.star-icon').classList.add('filled');
		        }

		        radio.nextElementSibling.classList.add('filled');

		        function prevAll() {
		            let radioSiblings = [],
		                prevSibling = radio.parentElement.previousElementSibling;

		            while (prevSibling) {
		                radioSiblings.push(prevSibling);
		                prevSibling = prevSibling.previousElementSibling;
		            }
		            return radioSiblings;
		        }
		    });
		}

		// 별점 초기화 (0)
		function initStars() {
		    for (let i = 0; i < stars.length; i++) {
		        stars[i].classList.remove('filled');
		    }
		}
	</script>
    <script src="/user/v1/template/qwer/assert/js/jquery-3.7.1.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/bootstrap.bundle.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/select2.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/owl.carousel.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/jquery.lazy.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/jquery.fancybox.min.js"></script>
    <!-- Start google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_my4aX1ULOXNZcIxmpBnJmVF7U544p2k"></script>
    <script src="/user/v1/template/qwer/assert/js/maps.js"></script>
    <!-- End google map -->
    <script src="/user/v1/template/qwer/assert/js/jquery.MultiFile.min.js"></script>
    <!-- Start Date range picker -->
    <script src="/user/v1/template/qwer/assert/js/moment.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/daterangepicker.min.js"></script>
    <!-- end Date range picker -->
    <script src="/user/v1/template/qwer/assert/js/rating-script.js"></script>
    <script src="/user/v1/template/qwer/assert/js/main.js"></script>
  </body>
</html>