<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="TechyDevs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dirto - Directory & Listing HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/select2.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/user/v1/template/qwer/assert/css/style.css" />
	<!-- 토스연동 스크랩트 파일 참조-->
	<script src = "https://js.tosspayments.com/v1"></script>
  </head>
  <body>
    <!-- start per-loader -->
    <div class="loader-container">
      <div class="loader-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- end per-loader -->
    <header class="header-area border-bottom border-bottom-gray">
      <div class="main-header py-3">
        <div class="container">
          <div class="main-header-action-wrap">
            <div class="logo">
              <a href="0_index.html"><img src="/user/v1/template/qwer/assert/images/logo.png" alt="logo" /></a>
            </div>
            <!-- end logo -->
            <nav class="main-menu me-4 ms-auto">
              <ul>
                <li>
                  <a href="0_index.html">Home</a>
                </li>
                <li>
                  <a href="#"
                    >Categories <span class="fal fa-angle-down"></span
                  ></a>
                  <ul class="dropdown-menu-item">
                    <li><a href="all-categories.html">all categories</a></li>
                    <li><a href="all-locations.html">all locations</a></li>
                    <li><a href="top-place.html">top places </a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"
                    >Listings <span class="fal fa-angle-down"></span
                  ></a>
                  <ul class="dropdown-menu-item">
                    <li><a href="list-with-map.html">list with map</a></li>
                    <li><a href="listing-list.html">listing list </a></li>
                    <li><a href="0_list-left-sidebar.html">left sidebar </a></li>
                    <li><a href="0_listing-details.html">listing details</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pages <span class="fal fa-angle-down"></span></a>
                  <ul class="dropdown-menu-item">
                    <li><a href="user-profile.html">user profile</a></li>
                    <li><a href="top-author.html">top authors </a></li>
                    <li><a href="dashboard.html">dashboard</a></li>
                    <li><a href="0_booking.html">booking </a></li>
                    <li>
                      <a href="booking-confirmation.html"
                        >booking confirmation
                      </a>
                    </li>
                    <li><a href="pricing.html">pricing</a></li>
                    <li><a href="faq.html">faq</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="recover.html">recover pass</a></li>
                  </ul>
                </li>
                <li>
                  <a href="blog-right-sidebar.html">Blog</a>
                </li>
              </ul>
            </nav>
            <div class="nav-right-content d-flex align-items-center">
              <div class="author-access-list me-3">
                <a href="0_login.html">Login</a>
                <span class="or-text">&nbsp;&nbsp;</span>
                <a href="0_sign-up.html">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end main-header -->
      <div class="off-canvas">
        <div class="off-canvas-close icon-element icon-element-sm bg-white shadow-sm">
          <i class="fal fa-times"></i>
        </div>
        <!-- end off-canvas-close -->
        <ul class="off-canvas-menu padding-top-60px">
          <li>
            <a href="0_index.html">Home</a>
          </li>
          <li>
            <a href="#"
              >Categories
              <span class="fal fa-angle-down sub-menu-toggler"></span
            ></a>
            <ul class="off-canvas-sub-menu">
              <li><a href="all-categories.html">All categories</a></li>
              <li><a href="all-locations.html">All locations</a></li>
              <li><a href="top-place.html">Top places </a></li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Listings <span class="fal fa-angle-down sub-menu-toggler"></span
            ></a>
            <ul class="off-canvas-sub-menu">
              <li><a href="list-with-map.html">list with map</a></li>
              <li><a href="listing-list.html">Listing list </a></li>
              <li><a href="list-left-sidebar.html">Left sidebar </a></li>
              <li><a href="0_listing-details.html">Listing details</a></li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Pages <span class="fal fa-angle-down sub-menu-toggler"></span
            ></a>
            <ul class="off-canvas-sub-menu">
              <li><a href="0_user-profile.html">user profile</a></li>
              <li><a href="top-author.html">top authors </a></li>
              <li><a href="dashboard.html">dashboard</a></li>
              <li><a href="0_booking.html">booking </a></li>
              <li>
                <a href="booking-confirmation.html">booking confirmation </a>
              </li>
              <li><a href="pricing.html">pricing</a></li>
              <li><a href="faq.html">faq</a></li>
              <li><a href="contact.html">contact</a></li>
              <li><a href="recover.html">recover pass</a></li>
            </ul>
          </li>
          <li>
            <a href="blog-right-sidebar.html">blog</a>
          </li>
        </ul>
        <div class="mt-4 text-center">
          <a href="0_login.html" class="theme-btn me-2">Login</a>
          <a href="0_sign-up.html" class="theme-btn">Sign up</a>
        </div>
      </div>
      <!-- end off-canvas -->
    </header>
    <section class="breadcrumb-area bread-bg">
    </section>
    <!-- end breadcrumb-area -->
    <section class="booking-area padding-top-60px padding-bottom-90px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-body">
				<form name="form" id="form" method="post" autocomplete="off" enctype="multipart/form-data">
                <h4 class="card-title">수강하실 내역</h4>
                <hr class="border-top-gray my-3" />
                <div class="row">
                  <div class="form-group col-lg-6 pr-lg-0">
                    <label class="label-text">수강권</label>
                    <input class="form-control form--control ps-3" id="cName" th:value="${classitem?.cName}" type="text" name="cName" />
                  </div>
                  <!-- end form-group -->
                  <div class="form-group col-lg-6 pr-lg-0">
                    <label class="label-text">가격</label>
                    <input class="form-control form--control ps-3" id="cPrice" th:value="${classitem?.cPrice}" />
                  </div>
                  <!--<div class="form-group col-lg-6">
                    <label class="label-text">기간</label>
                    <input class="form-control form--control ps-3" type="text" name="text" placeholder="번호"/>
                  </div>-->
                </div>
				</form>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">결제방식</h4>
                <hr class="border-top-gray mt-3 mb-4" />
                <ul class="payment-method">
                  <!--<li class="active">
                    <label class="payment-method-label">
                      <input name="payment_method" type="radio" value="계좌이체" checked />계좌이체</label>
                    <div class="expanded-payment-method"><p>저희 센터의 계좌로 입금을 해 주실때 회원님의 id를 반드시 입력해 주세요</p></div>
                  </li>-->
                  <li>
					<a class="theme-btn" onclick="pay('카드',jsons.card);">계좌이체</a>
					<a class="theme-btn" onclick="pay('카드',jsons.card);">카드</a>

                    <!--<label class="payment-method-label">
                      <input name="payment_method" type="radio" value="카드" />
                      일반결제
                      <img
                        src="/user/v1/template/qwer/assert/images/payment-img.png"
                        alt="Payment logos"
                        class="position-absolute top-0 right-0 mt-3 img-fluid"
                      />
                    </label>
                    <div class="expanded-payment-method">
						<p>신용카드/체크카드</p>	
                    </div>-->
                  </li>
                </ul>
              </div>
            </div>
            <!-- end card -->
            <!--<a href="/usr/v1/infra/user/userBookCon" class="theme-btn">결제하기</a> -->
			<a class="theme-btn" href="/usr/v1/infra/user/userProfile">결제완료</a>
		  </div>
          <!-- end col-lg-8 -->
          <div class="col-lg-4">
            <div class="card">
			<form name="form" id="form" method="post" autocomplete="off" enctype="multipart/form-data">	
              <a href="0_listing-details.html" class="card-image">
                <img src="/user/v1/template/qwer/assert/images/img-loading.jpg" data-src="images/img1.jpg" class="card-img-top lazy" alt="card image"/>
              </a>
              <div class="card-body">
                <div class="d-flex align-items-center mb-1">
                  <h4 class="card-title mb-0"><a href="0_listing-details.html" id="iName" th:text="${classitem?.iName}"></a></h4>
                  <i class="fa fa-check-circle ms-1 text-success" data-bs-toggle="tooltip" data-placement="top" title="Claimed"></i>
                </div>
                <p class="card-text"  id="iAdress" th:text="${classitem?.iAdress}"></p>
              </div>
              <!-- end card-body -->
              <div class="card-footer bg-transparent border-top-gray d-flex align-items-center justify-content-between">
                <div class="star-rating" data-rating="5">
                  <div class="rating-counter">5 reviews</div>
                </div>
                <a href="#"
                  class="bookmark-btn icon-element icon-element-sm bg-white shadow-sm text-black"
                  data-bs-toggle="tooltip"
                  data-placement="top"
                  title="Bookmark">
                  <i class="fal fa-bookmark"></i>
                </a>
              </div>
              <!-- end card-footer -->
			</form>
            </div>
            <!-- end card -->
            <div class="card">
              <div class="card-body">
				<form name="form" id="form" method="post" autocomplete="off" enctype="multipart/form-data">
                <h4 class="card-title mb-3">수강하실 내역</h4>
                <hr class="border-top-gray my-0" />
                <ul class="list-items mt-3">
                  <li class="d-flex align-items-center justify-content-between">
                    <span class="text-black">수강권</span>
					<span class="text-success"><a id="cName" th:text="${classitem?.cName}"></a></span>
                  </li>
                  <li><hr class="border-top-gray" /></li>
                  <li class="d-flex align-items-center justify-content-between">
                    <span class="text-black">가격</span>
                    <span class="text-success"><a id="cPrice" th:text="${classitem?.cPrice}"></a></span>
                  </li>
                  <hr class="border-top-gray my-0" />
                </ul>
                <ul class="list-items mt-3">
                  <li class="d-flex align-items-center justify-content-between">
                    <span class="text-black">기간</span>2024/08/01-</br>2024/10/01</br>(총 3개월)
                  </li>
                </ul>
				</form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- end booking-area -->
    <section class="footer-area bg-gray padding-top-130px pattern-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6" style="width: 100px;"></div>
          <div class="col-lg-3 col-md-6" >
            <div class="footer-item">
              <a href="0_index.html" class="footer-logo mb-4 d-inline-block"><img src="images/logo2.png" alt="logo"/></a>
              <ul class="info-list">
                <li>
                  <span class="fal fa-home icon me-2"></span> 서울 강남구 태해란로 
                </li>
                <li>
                  <span class="fal fa-headphones icon me-2"></span>
                  <a href="#">02-382-4335</a>
                </li>
                <li>
                  <span class="fal fa-envelope icon me-2"></span>
                  <a href="#">dirto@gmail.com</a>
                </li>
                <li>
                  <span class="fal fa"></span>
                  <a href="#"></a>
                </li>
              </ul>
              <p></p>
              <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <!-- end col-lg-3 -->
           <div class="col-lg-3 col-md-6" style="width: 120px;" > 
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 col-md-6">
            <div class="footer-item">
              <h4 class="footer__title mb-3">모든 카테고리</h4>
              <div class="stroke-shape mb-4"></div>
              <ul class="list-items list-items-underline">
                <li><a href="#">필라테스</a></li>
                <li><a href="#">요가</a></li>
                <li><a href="#">헬스</a></li>
                <li><a href="#">플라잉요가</a></li>
                <li><a href="#">클라이밍</a></li>
              </ul>
            </div>
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-3 col-md-6">
            <div class="footer-item">
              <h4 class="footer__title mb-3">바로가기</h4>
              <div class="stroke-shape mb-4"></div>
              <ul class="list-items list-items-underline">
                <li><a href="0_sign-up.html">가입하기</a></li>
                <li><a href="0_login.html">로그인</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end row -->
        <hr class="border-top-gray" />
        <div class="copy-right d-flex flex-wrap align-items-center justify-content-between pb-4">
          <p class="copy__desc py-2">
            &copy; Copyright Dirto <span id="copyright-year"></span>. Made with
            <span class="fas fa-heart bounce-anim"></span> by
            <a href="https://techydevs.com">TechyDevs</a>
          </p>
        </div>
        <!-- end copy-right -->
      </div>
      <!-- end container -->
    </section>
    <!-- end footer-area -->
    <script src="/user/v1/template/qwer/assert/js/jquery-3.7.1.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/bootstrap.bundle.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/select2.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/jquery.lazy.min.js"></script>
    <script src="/user/v1/template/qwer/assert/js/rating-script.js"></script>
    <script src="/user/v1/template/qwer/assert/js/main.js"></script>
  </body>
  <script>
	let amount = 100;
	//let amount = document.getElementById("price").value;
	let tossPayments = TossPayments("test_ck_AQ92ymxN341MBOOvo7njVajRKXvd");
	let method = $('input:radio[name="payment_method"]:checked').val();
	let requestJson;
	
	switch(method) {
	  case '계좌이체':  
		  requestJson = 'jsons.transfer';
		  break;
	  case '카드':  
	  	  requestJson = 'jsons.card';
	  	  break;
	  case '휴대폰':  
		  requestJson = 'jsons.phone';
		  break;		  
	  default:
	      break;
	}
	
	function pay(method, requestJson){
		console.log(method);
		console.log(requestJson);
		tossPayments.requestPayment(method, requestJson).catch(function(error){
			if(error.code === "USER_CANCEL"){
				alert('유저가 취소했습니다.');
			}else{
				alert(error.message);
			}	
		});
	}
	
	let path ="/";
	let successUrl=window.location.origin+path+"toss/success";
	let failUrl = window.location.origin+path+"toss/fail";
	let callbackUrl = window.location.origin+path+"toss/va_callback";
	let orderId = new Date().getTime();
	
	let jsons = {
		"card":{
			"amount":amount,
			"orderId":"sample",
			"orderName":
			"successUrl"
		},
		"transfer":{
			"amount":amount,
			"orderId":"sample",
			"orderName":
			"successUrl"
		}
	}
  </script>
</html>
