<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.code.CodeDao"> 
<!--mapper와 연결될 dao //  ctrl+shift+c-->
	  
	  <resultMap id="resultMapObj" type="com.example.hybe.infra.code.CodeDto"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  select aa.* from (
	   SELECT
			b.ifcdSeq
			,b.ifcdName
			,b.ifcdUseNy
			,b.ifcdOrder
			,b.ifcdDesc
			,b.ifcdDelny
            ,b.ifcdRegDate
            ,b.ifcdmodDate
            ,b.codegroup_seq
            ,a.ifcgName
            <include refid="selectCommon"/>
			ORDER BY
			b.ifcdSeq desc
        ) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
		</select>
            
     <sql id="selectCommon">       
       FROM
           code as b
      JOIN codegroup as a ON a.ifcgSeq=b.codegroup_seq
      WHERE 1=1
			<if test="shDelNy !=null and !shDelNy.equals('')">AND ifcdDelny = #{shDelNy}</if>	
			<if test="shUseNy !=null and !shUseNy.equals('')">AND ifcdUseNy = #{shUseNy}</if>
			<choose>
			    <when test="shOption==1">AND ifcdSeq=#{shValue}</when>
			    <when test="shOption==2">AND ifcdName=#{shValue}</when>
			    <when test="shOption==3">AND ifcdOrder=#{shValue}</when>
			</choose>
			 <choose>
				<when test="shOptionDate == 1">AND b.ifcdRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND b.ifcdmodDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	  </sql>
	  
	  <insert id="insert">
	  INSERT INTO code(
	  		ifcdName
			,ifcdUseNy
			,ifcdOrder
			,ifcdDesc
			,ifcdDelny
            ,ifcdRegDate
            ,ifcdmodDate
            ,codegroup_seq
	  	)VALUES(
	  		#{ifcdName}
			,#{ifcdUseNy}
			,#{ifcdOrder}
			,#{ifcdDesc}
			,0
            ,now()
            ,now()
            ,#{codegroup_seq}
	  		)	
	  </insert>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  	 SELECT
	  	 	b.ifcdSeq
			,b.ifcdName
			,b.ifcdUseNy
			,b.ifcdOrder
			,b.ifcdDesc
			,b.ifcdDelny
            ,b.ifcdRegDate
            ,b.ifcdmodDate
            ,b.codegroup_seq
        FROM 
			code b	
		WHERE 1=1
			AND	b.ifcdSeq = #{ifcdSeq}
	  </select>
	  
	  <update id="update">
	  	UPDATE code
	    SET
	  	    ifcdName = #{ifcdName}
			,ifcdUseNy = #{ifcdUseNy}
			,ifcdOrder = #{ifcdOrder}
			,ifcdDesc = #{ifcdDesc}
			,ifcdDelny = #{ifcdDelny}
			,codegroup_seq = #{codegroup_seq}
		WHERE 1=1	
		     AND ifcdSeq = #{ifcdSeq}
	  </update>
	  
	  <select id="selectlistCodeGroup">
	    SELECT
	    	a.ifcgSeq
	    	,a.ifcgName
	    FROM 
	         codegroup a
	    WHERE 1=1
			AND	a.ifcgDelNy=0 
	    ORDER BY
		    a.ifcgOrder DESC	
	  </select>
	  
	  <update id="uelete">
	  	UPDATE code
	  	SET
	  		ifcdDelny=1
	  	WHERE 1=1
	  		AND ifcdSeq=#{ifcdSeq}
	  </update>
	  
	  <delete id="delete">
	  	DELETE FROM code
	  	WHERE 1=1
	  		AND ifcdSeq=#{ifcdSeq}	
	  </delete>
	  
	  <select id="selectOneCount" resultType="Integer">
	  	SELECT COUNT(*)
	  	<include refid="selectCommon"/>
	  </select>
	  
	  <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ifcdSeq
			, ifcdName
			, codegroup_seq
		FROM
			code
		WHERE 1=1
			AND ifcdDelny = 0
		    AND ifcdUseNy = 1
      </select>
</mapper>