<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.member.MemberDao">
	<!--mapper와 연결될 dao // ctrl+shift+c -->

	<resultMap id="resultMapObj"
		type="com.example.hybe.infra.member.MemberDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		SELECT
			d.mSeq,
			d.mName,
			d.mId,
			d.mPassword,
			d.mGender,
			d.mPhone,
			d.mEmail,
			d.mAdress,
			d.mDesc,
			d.mRegdate,
			d.mModDate,
			d.mDelNy,
			d.mZipcode
		<include refid="selectCommon"/>
			ORDER BY
			   d.mSeq desc
			 ) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
		</select>
		
		<sql id="selectCommon">
		FROM
			seventeen.member d
		WHERE 1=1
			<!--<if test="shDelNy !=null and !shDelNy.equals('')">AND delny = #{shDelNy}</if>
			<if test="shUseNy !=null and !shUseNy.equals('')">AND UseNy = #{shUseNy}</if>-->
			<choose>
				<when test="shOption==1">AND mSeq=#{shValue}</when>
				<when test="shOption==2">AND mName=#{shValue}</when>
			</choose>
	
			<choose>
				<when test="shOptionDate == 1">AND d.mRegdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND d.mModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	</sql>

	<insert id="insert">
		INSERT INTO member(
			mName,
			mId,
			mPassword,
			mGender,
			mPhone,
			mEmail,
			mAdress,
			mDesc,
			mRegdate,
			mModDate,
			mDelNy
		)VALUES(
			#{mName},
			#{mId},
			#{mPassword},
			#{mGender},
			#{mPhone},
			#{mEmail},
			#{mAdress},
			#{mDesc},
			now(),
			now(),
			0
		)
		<selectKey resultType="String" keyProperty="mSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	</insert>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			d.mSeq,
			d.mName,
			d.mId,
			d.mPassword,
			d.mGender,
			d.mPhone,
			d.mEmail,
			d.mAdress,
			d.mDesc,
			d.mRegdate,
			d.mModDate,
			d.mDelNy,
			d.mZipcode
		FROM
			member d
		WHERE 1=1
			AND d.mSeq = #{mSeq}
	</select>
	
	<update id="update">
		UPDATE member
		SET
			mName = #{mName},
			mId = #{mId},
			mPassword = #{mPassword},
			mGender = #{mGender},
			mPhone = #{mPhone},
			mEmail = #{mEmail},
			mAdress = #{mAdress},
			mDesc = #{mDesc},
			mRegdate = now(),
			mModDate = now(),
			mDelNy = #{mDelNy}
		WHERE 1=1
			AND mSeq = #{mSeq}

	</update>

	<update id="uelete">
		UPDATE member
		SET
			mDelNy=1
		WHERE 1=1
			AND mSeq=#{mSeq}
	</update>

	<delete id="delete">
		DELETE FROM member
		WHERE 1=1
		AND mSeq=#{mSeq}
	</delete>
 	<select id="selectOneLogin" resultMap="resultMapObj">
	 SELECT
	    d.mSeq,
	 	d.mId,
		d.mPassword
	 FROM
		seventeen.member d	
	 WHERE 
	    1=1
		AND d.mId = #{mId}
		AND d.mPassword = #{mPassword}
	</select>
	
	  <select id="selectOneCount" resultType="Integer">
	  	SELECT COUNT(*)
	  	<include refid="selectCommon"/>
	  </select>
</mapper>