<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.code.CodeDao"> 
<!--mapper와 연결될 dao //  ctrl+shift+c-->
	  
	  <resultMap id="resultMapObj" type="com.example.hybe.infra.code.CodeDto"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  SELECT
			a.ifcdSeq
			,a.ifcdName
			,a.ifcdUseNy
			,a.ifcdOrder
			,a.ifcdDesc
			,a.ifcdDelny
            ,a.ifcdRegDate
            ,a.ifcdmodDate
            ,a.codegroup_seq
       FROM
           code a
      ORDER BY
		   a.ifcdSeq desc
	  </select>
	  
	  <insert id="insert">
	  INSERT INTO code(
	  		ifcdName
			,ifcdUseNy
			,ifcdOrder
			,ifcdDesc
			,ifcdDelny
            ,ifcdRegDate
            ,ifcdmodDate
            ,codegroup_seq
	  	)VALUES(
	  		#{ifcdName}
			,#{ifcdUseNy}
			,#{ifcdOrder}
			,#{ifcdDesc}
			,#{ifcdDelny}
            ,now()
            ,now()
            ,1
	  		)	
	  </insert>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  	 SELECT
	  	 	a.ifcdSeq
			,a.ifcdName
			,a.ifcdUseNy
			,a.ifcdOrder
			,a.ifcdDesc
			,a.ifcdDelny
            ,a.ifcdRegDate
            ,a.ifcdmodDate
            ,a.codegroup_seq
        FROM 
			code a	
		WHERE 1=1
			AND	a.ifcdSeq = #{ifcdSeq}
	  </select>
	  
	  <insert id="update">
	  	UPDATE code
	    SET
	  	    ifcdName = #{ifcdName}
			,ifcdUseNy = #{ifcdUseNy}
			,ifcdOrder = #{ifcdOrder}
			,ifcdDesc = #{ifcdDesc}
			,ifcdDelny = #{ifcdDelny}
		WHERE 1=1
			AND	a.ifcdSeq = #{ifcdSeq}		
	  </insert>
	  
	  <select id="selectlistCodeGroup">
	    SELECT
	    	a.ifcgSeq
	    	,a.ifcgName
	    FROM 
	         codegroup a
	    WHERE 1=1
			AND	a.ifcgDelNy=0 
	    ORDER BY
		    a.ifcgOrder DESC	
	  </select>
</mapper>
			
			
		