<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.information.InformationDao"> 
<!--mapper와 연결될 dao //  ctrl+shift+c-->
	  
	  <resultMap id="resultMapObj" type="com.example.hybe.infra.information.InformationDto"></resultMap>
	  
    <select id="selectList" resultMap="resultMapObj">
	  SELECT aa.* FROM (
	   SELECT
		a.seq 
	   ,a.name 
       ,a.opentime 
       ,a.closetime 
       ,a.telNumber 
       ,a.eadress 
       ,a.parkingNy 
       ,a.ptNy 
       ,a.groupNy 
       ,a.letter 
       ,a.regDate 
       ,a.modDate 
       ,a.specifics 
       ,a.adress 
       ,a.delny 
       ,a.ceoName
     <include refid="selectCommon"/>
		ORDER BY
		   a.seq desc
	   ) aa limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
		
	<sql id="selectCommon">	
     FROM
          seventeen.information a
     WHERE 1=1
			<if test="shDelNy !=null and !shDelNy.equals('')">AND delny = #{shDelNy}</if>	
			<if test="shParkingNy !=null and !shParkingNy.equals('')">AND parkingNy = #{shParkingNy}</if>
			<if test="shPtNy !=null and !shPtNy.equals('')">AND ptNy = #{shPtNy}</if>
			<if test="shGroupNy !=null and !shGroupNy.equals('')">AND groupNy = #{shGroupNy}</if>
			<choose>
			    <when test="shOption==1">AND seq=#{shValue}</when>
			    <when test="shOption==2">AND name=#{shValue}</when>
			    <when test="shOption==3">AND ceoName=#{shValue}</when>
			</choose>
			
			<choose>
				<when test="shOptionDate == 1">AND a.regdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	 </sql>
           
	  
	  <insert id="insert">
	  INSERT INTO information(
	  	name 
       ,opentime 
       ,closetime 
       ,telNumber 
       ,eadress 
       ,parkingNy 
       ,ptNy 
       ,groupNy 
       ,letter 
       ,regDate 
       ,modDate 
       ,specifics 
       ,adress 
       ,delny 
       ,ceoName
	  )VALUES(
	  	#{name}
	   ,#{opentime}
	   ,#{closetime} 
       ,#{telNumber} 
       ,#{eadress} 
       ,#{parkingNy} 
       ,#{ptNy} 
       ,#{groupNy} 
       ,#{letter} 
       ,now()
       ,now() 
       ,#{specifics} 
       ,#{adress} 
       ,0 
       ,#{ceoName}
	  	)
	  	<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
	    </selectKey>
	  </insert>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  	 SELECT
	  	 	a.seq 
	  	   ,a.name 
	       ,a.opentime 
	       ,a.closetime 
	       ,a.telNumber 
	       ,a.eadress 
	       ,a.parkingNy 
	       ,a.ptNy 
	       ,a.groupNy 
	       ,a.letter 
	       ,a.regDate 
	       ,a.modDate 
	       ,a.specifics 
	       ,a.adress 
	       ,a.delny 
	       ,a.ceoName
        FROM 
			information a	
		WHERE 1=1
			AND	a.seq = #{seq}
	  </select>
	  <update id="update">
	  	UPDATE information
	  	SET
	  		name = #{name}
	       ,opentime = #{opentime}
	       ,closetime = #{closetime}
	       ,telNumber = #{telNumber}
	       ,eadress = #{eadress}
	       ,parkingNy = #{parkingNy}
	       ,ptNy = #{ptNy}
	       ,letter 	= #{letter}
	       ,groupNy = #{groupNy}
	       ,letter = #{letter}
	       ,specifics = #{specifics}
	       ,adress = #{adress}
	       ,delny = #{delny}
	       ,ceoName= #{ceoName}
	    WHERE 1=1
	    	AND a.seq = #{seq}  
	  </update>
	  <update id="uelete">
	  	UPDATE information
	  	SET
	  		delny=1
	  	WHERE 1=1
	  		AND seq=#{seq}
	  </update>
	  
	  <delete id="delete">
	  	DELETE FROM information
	  	WHERE 1=1
	  		AND seq=#{seq}	
	  </delete>
	  
	  <select id="selectOneCount">
	  	SELECT COUNT(*)
	  	<include refid="selectCommon"/>
	  </select>
</mapper>