<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.information.InformationDao"> 
<!--mapper와 연결될 dao //  ctrl+shift+c-->
	  
	  <resultMap id="resultMapObj" type="com.example.hybe.infra.information.InformationDto"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  SELECT
		a.seq 
	   ,a.name 
       ,a.opentime 
       ,a.closetime 
       ,a.telNumber 
       ,a.eadress 
       ,a.parking 
       ,a.reservation 
       ,a.freecal 
       ,a.letter 
       ,a.regDate 
       ,a.modDate
     FROM
           information a
	ORDER BY
		   a.seq desc
           
	  </select>
	  <insert id="insert">
	  INSERT INTO information(
	  	name 
       ,opentime 
       ,closetime 
       ,telNumber 
       ,eadress 
       ,parking 
       ,reservation 
       ,freecal 
       ,letter 
       ,regDate 
       ,modDate
	  )VALUES(
	  	#{name}
	   ,#{opentime}
	   ,#{closetime} 
       ,#{telNumber} 
       ,#{eadress} 
       ,#{parking} 
       ,#{reservation} 
       ,#{freecal} 
       ,#{letter} 
	  	,now()
	    ,now()
	  	)
	  </insert>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  	 SELECT
	  	 	a.seq 
		   ,a.name 
	       ,a.opentime 
	       ,a.closetime 
	       ,a.telNumber 
	       ,a.eadress 
	       ,a.parking 
	       ,a.reservation 
	       ,a.freecal 
	       ,a.letter 
	       ,a.regDate 
	       ,a.modDate
        FROM 
			information a	
		WHERE 1=1
			AND	a.seq = #{seq}
	  </select>
	  <update id="update">
	  	UPDATE information
	  	SET
	  		name = #{name}
	       ,opentime = #{opentime}
	       ,closetime = #{closetime}
	       ,telNumber = #{telNumber}
	       ,eadress = #{eadress}
	       ,parking = #{parking}
	       ,reservation = #{reservation}
	       ,freecal = #{freecal}
	       ,letter 	= #{letter}
	    WHERE 1=1
	    	AND a.seq = #{seq}  
	  </update>
</mapper>