<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.information.InformationDao"> 
<!--mapper와 연결될 dao //  ctrl+shift+c-->
	  
	  <resultMap id="resultMapObj" type="com.example.hybe.infra.information.InformationDto"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  SELECT
		a.seq 
	   ,a.name 
       ,a.opentime 
       ,a.closetime 
       ,a.telNumber 
       ,a.eadress 
       ,a.parkingNy 
       ,a.ptNy 
       ,a.groupNy 
       ,a.letter 
       ,a.regDate 
       ,a.modDate 
       ,a.specifics 
       ,a.adress 
       ,a.delny 
       ,a.orders 
       ,a.UseNy 
       ,a.ceoName
     FROM
           information a
     WHERE 1=1
			<if test="shDelNy !=null and !shDelNy.equals('')">AND delny = #{shDelNy}</if>	
			<if test="shUseNy !=null and !shUseNy.equals('')">AND UseNy = #{shUseNy}</if>
			<choose>
			    <when test="shOption==1">AND seq=#{shValue}</when>
			    <when test="shOption==2">AND name=#{shValue}</when>
			    <when test="shOption==3">AND ceoName=#{shValue}</when>
			</choose>
			
			<choose>
				<when test="shOptionDate == 1">AND a.regdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	ORDER BY
		   a.seq desc
           
	  </select>
	  <insert id="insert">
	  INSERT INTO information(
	  	name 
       ,opentime 
       ,closetime 
       ,telNumber 
       ,eadress 
       ,parkingNy 
       ,ptNy 
       ,groupNy 
       ,letter 
       ,regDate 
       ,modDate 
       ,specifics 
       ,adress 
       ,delny 
       ,orders 
       ,UseNy 
       ,ceoName
	  )VALUES(
	  	#{name}
	   ,#{opentime}
	   ,#{closetime} 
       ,#{telNumber} 
       ,#{eadress} 
       ,#{parkingNy} 
       ,#{ptNy} 
       ,#{groupNy} 
       ,#{letter} 
       ,now()
       ,now() 
       ,#{specifics} 
       ,#{adress} 
       ,#{delny} 
       ,#{orders} 
       ,#{UseNy} 
       ,#{ceoName}
	  	)
	  </insert>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  	 SELECT
	  	 	a.seq 
	  	   ,a.name 
	       ,a.opentime 
	       ,a.closetime 
	       ,a.telNumber 
	       ,a.eadress 
	       ,a.parkingNy 
	       ,a.ptNy 
	       ,a.groupNy 
	       ,a.letter 
	       ,a.regDate 
	       ,a.modDate 
	       ,a.specifics 
	       ,a.adress 
	       ,a.delny 
	       ,a.orders 
	       ,a.UseNy 
	       ,a.ceoName
        FROM 
			information a	
		WHERE 1=1
			AND	a.seq = #{seq}
	  </select>
	  <update id="update">
	  	UPDATE information
	  	SET
	  		name = #{name}
	       ,opentime = #{opentime}
	       ,closetime = #{closetime}
	       ,telNumber = #{telNumber}
	       ,eadress = #{eadress}
	       ,parkingNy = #{parkingNy}
	       ,ptNy = #{ptNy}
	       ,letter 	= #{letter}
	       ,groupNy = #{groupNy}
	       ,letter = #{letter}
	       ,specifics = #{specifics}
	       ,adress = #{adress}
	       ,delny = #{delny}
	       ,orders = #{orders}
	       ,UseNy = #{UseNy}
	       ,ceoName= #{ceoName}
	    WHERE 1=1
	    	AND a.seq = #{seq}  
	  </update>
	  <update id="uelete">
	  	UPDATE information
	  	SET
	  		delny=1
	  	WHERE 1=1
	  		AND seq=#{seq}
	  </update>
	  
	  <delete id="delete">
	  	DELETE FROM information
	  	WHERE 1=1
	  		AND seq=#{seq}	
	  </delete>
</mapper>