<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.member.MemberDao"> 
<!--mapper와 연결될 dao //  ctrl+shift+c-->
	  
	  <resultMap id="resultMapObj" type="com.example.hybe.infra.member.MemberDto"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  SELECT
			a.Seq
			,a.Name
			,a.id
			,a.nickname
			,a.delny
			,a.email
			,a.phonenumber
            ,a.adress 
            ,a.regdate 
            ,a.gender 
            ,a.password 
			,a.desc
            ,a.modDate
        FROM 
			member a
		ORDER BY
			a.Seq desc   
            
	  </select>
	  <insert id=""></insert>
</mapper>