<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.member.MemberDao">
	<!--mapper와 연결될 dao // ctrl+shift+c -->

	<resultMap id="resultMapObj"
		type="com.example.hybe.infra.member.MemberDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		SELECT
			a.seq,
			a.name,
			a.id,
			a.password,
			a.gender,
			a.nickname,
			a.phonenumber,
			a.email,
			a.adress,
			a.desc,
			a.regdate,
			a.modDate,
			a.delny
		<include refid="selectCommon"/>
			ORDER BY
			   a.seq desc
			 ) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
		</select>
		
		<sql id="selectCommon">
		FROM
			seventeen.member a
		WHERE 1=1
			<!--<if test="shDelNy !=null and !shDelNy.equals('')">AND delny = #{shDelNy}</if>
			<if test="shUseNy !=null and !shUseNy.equals('')">AND UseNy = #{shUseNy}</if>-->
			<choose>
				<when test="shOption==1">AND seq=#{shValue}</when>
				<when test="shOption==2">AND name=#{shValue}</when>
			</choose>
	
			<choose>
				<when test="shOptionDate == 1">AND a.regdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	</sql>

	<insert id="insert">
		INSERT INTO member(
			name,
			id,
			password,
			gender,
			nickname,
			phonenumber,
			email,
			adress,
			desc,
			regdate,
			modDate,
			delny
		)VALUES(
			#{name},
			#{id},
			#{password},
			#{gender},
			#{nickname},
			#{phonenumber},
			#{email},
			#{adress},
			#{desc},
			now(),
			now(),
			0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	</insert>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.seq,
			a.name,
			a.id,
			a.password,
			a.gender,
			a.nickname,
			a.phonenumber,
			a.email,
			a.adress,
			a.desc,
			a.regdate,
			a.modDate,
			a.delny
		FROM
			member a
		WHERE 1=1
			AND a.seq = #{seq}
	</select>
	
	<update id="update">
		UPDATE member
		SET
			name = #{name},
			id = #{id},
			password = #{password},
			gender = #{gender},
			nickname = #{nickname},
			phonenumber = #{phonenumber},
			email = #{email},
			adress = #{adress},
			desc = #{desc},
			regdate = now(),
			modDate = now(),
			delny = #{delny}
		WHERE 1=1
			AND seq = #{seq}

	</update>

	<update id="uelete">
		UPDATE member
		SET
			delny=1
		WHERE 1=1
			AND seq=#{seq}
	</update>

	<delete id="delete">
		DELETE FROM member
		WHERE 1=1
		AND seq=#{seq}
	</delete>
 	<select id="selectOneLogin" resultMap="resultMapObj">
	 SELECT
	 	a.id,
		a.password
	 FROM
		seventeen.member a	
	 WHERE 
	    1=1
		AND a.id = #{id}
		AND a.password = #{password}
	</select>
	
	  <select id="selectOneCount" resultType="Integer">
	  	SELECT COUNT(*)
	  	<include refid="selectCommon"/>
	  </select>
</mapper>