<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hybe.infra.user.UserDao">
	<!--mapper와 연결될 dao // ctrl+shift+c -->

	<resultMap id="resultMapObj"
		type="com.example.hybe.infra.user.UserDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
	 SELECT aa.* FROM (
	   SELECT
	   a.seq 
	   ,a.name
	   ,a.adress
	   ,a.telNumber
	 <include refid="selectCommon"/>
			ORDER BY
			 a.seq desc
        ) aa limit #{rowNumToShow} offset #{startRnumForMysql}  
	 </select>  
	
	<sql id="selectCommon">
        FROM 
			seventeen.information a
		WHERE 1=1
		<choose>
			    <when test="shOption==1">AND seq=#{shValue}</when>
			</choose>	
		</sql>	
	   
	
	<select id="SelectOneLogin" resultMap="resultMapObj">
	  SELECT
	  	 a.id
	  	,a.password
	  FROM
		seventeen.member a
	 WHERE
	   1=1
	   AND a.id = #{id}
	   AND a.password = #{password}  	
	</select>
	
	 <select id="selectOne" resultMap="resultMapObj">
	  SELECT
	  	a.seq
	   ,a.name
	   ,a.adress
	   ,a.telNumber
	  FROM
		seventeen.information a
	  WHERE 1=1
			AND	a.seq = #{seq}
	  </select>
	  <select id="selectOneCount">
	  SELECT COUNT(*)
	  	<include refid="selectCommon"/>
	  </select>
	  
</mapper>